@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="https://en.wikipedia.org/wiki/Cruise_ship">cruise ships here</a>.</p>
    <p>To learn more about how to use the Cruise Ship Management System, continue reading below.</p>
    <h5 class="display-4">On the top left of this page window you can see all data about People, Tickets and Cruises</h5>
    <p>If you wish to see details about People click the top left of your screen or <a href="/People">here</a>.</p>
    <p>If you wish to see details about Tickets click the top left of your screen or <a href="/Tickets">here</a>.</p>
    <p>If you wish to see details about Cruise Ships click the top left of your screen or <a href="/Cruises">here</a>.</p>
</div>
