@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The site is protected with input validations and API Authorised access to the Data Base.</p>
<p>For more information you can contact me here: stu2201321037@uni-plovdiv.bg</p>